In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
#create an instance of one hot encoder
encoder = OneHotEncoder()

In [6]:
# perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [7]:
encoder_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
encoder.transform([['blue']]).toarray()

array([[1., 0., 0.]])

In [10]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [11]:
import  seaborn as sns

In [12]:
df_data = sns.load_dataset('tips')

In [13]:
before_encoding = pd.DataFrame(df_data)

In [14]:
before_encoding

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
encoder = OneHotEncoder()
after_encoding = encoder.fit_transform(df_data[['sex','smoker','day','time']]).toarray()

In [17]:
after_encoding

array([[1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.]], shape=(244, 10))

## Label encoding

In [18]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [19]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder =LabelEncoder()

In [20]:
lbl_encoder.fit_transform(df[['color']])

array([2, 0, 1, 1, 2, 0])

In [21]:
lbl_encoder.transform([['red']])

array([2])

## Ordinal encoding

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:
df = pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [24]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [25]:
# create an instance of ordinal encoder and perform the fit_transform

encoder = OrdinalEncoder(categories=[['small','medium','large']])
encoded = encoder.fit_transform(df[['size']])

In [26]:
encoded

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

## Target guided ordinal encoding

In [27]:
df = pd.DataFrame({
    'city': ['NY','london','paris','tokyo','NY','paris'],
    'price':[200,150,300,250,180,320]
})

In [28]:
df

     city  price
0      NY    200
1  london    150
2   paris    300
3   tokyo    250
4      NY    180
5   paris    320

In [29]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [30]:
mean_price

{'NY': 190.0, 'london': 150.0, 'paris': 310.0, 'tokyo': 250.0}

In [31]:
df['city_encoded']= df['city'].map(mean_price)

In [32]:
df

     city  price  city_encoded
0      NY    200         190.0
1  london    150         150.0
2   paris    300         310.0
3   tokyo    250         250.0
4      NY    180         190.0
5   paris    320         310.0