In [2]:
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')
df.head()

In [ ]:
#check missing values
df.isnull().sum()

In [ ]:
# delete the rows or data point
df.shape

In [ ]:
df.dropna()

In [ ]:
#column ways delete
df.dropna(axis=1)

## Imputation technique
### 1.Mean value Imputation

In [ ]:
sns.displot(df["age"])

In [ ]:
sns.histplot(df['sex'])

In [ ]:
df["age_mean"] = df["age"].fillna(df["age"].mean())

In [ ]:
df[["age_mean","age"]]

In [ ]:
#Mean imputation works well when have normally distributed data

### 2.Median value imputation - if we have outliers in the dataset

In [ ]:
df["age_median"] = df["age"].fillna(df["age"].median())

In [6]:
df[['age_median','age_mean','age']]

NameError: name 'df' is not defined

### 3. Mode imputation Technique - categorical values

In [ ]:
df[df["embarked"].isnull()]

In [ ]:
mode_value = df[df['embarked'].notna()]['embarked'].mode()[0]

In [ ]:
df['embarked_mode']=df['embarked'].fillna(mode_value)

In [ ]:
df[['embarked_mode','embarked']]

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

print("Success! Environment is working.")

ModuleNotFoundError: No module named 'pandas'